<template>
  <div>
    <Navbar option="Cartelera"/>
    <div class="row">
      <div class="col l9 offset-l3">
        <div class="row">
          <CardMovie v-for="show in shows"
            v-bind:key="show.id"
            v-bind:image="show.image.original"
            v-on:click.native="showAlert(show.id, show.name)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

import Navbar from './Navbar'
import CardMovie from './CardMovie'

export default {
  name: 'Billboard',
  data: function () {
    return {
      shows: []
    }
  },
  components: {
    Navbar,
    CardMovie
  },
  created: function () {
    axios.get('http://api.tvmaze.com/shows?page=1')
      .then(res => {
        this.shows = res.data
      })
      .catch(err => {
        console.log(err)
      })
  },
  methods: {
    showAlert: function (id, name) {
      this.$router.push({ path: `/room/${id}/${name}` })
    }
  }
}
</script>
