<template>
  <div class="building valign-wrapper">
    <div class="row">
      <div class="col s9 l12 offset-l3 center-align">
        <h2>En construcción</h2>
        <img src="../assets/monkey.png" alt="monkey">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Building'
}
</script>

<style scoped>
.building {
  background-color: #212121;
  height: 100vh;
}

h2 {
  color: white;
  margin-bottom: 100px;
}

img {
  width: 60%;
}
</style>
