<template>
  <div class="col s12 m4 l3">
    <div class="card">
      <div class="card-image">
        <img v-bind:src="image">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardMovie',
  props: ['image']
}
</script>
