<template>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-4">
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="option">
            {{ option }}
          </li>
          <li class="search">
            <div class="input-field search-wrapper card">
              <input id="search" type="search" placeholder="Buscar película">
              <i class="material-icons">search</i>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  props: ['option']
}
</script>

<style scoped>
.option {
  position: absolute;
  left: 316px;
  color: #bdbdbd;
  font-size: 24px;
  text-transform: uppercase;
}

.search {
  position: absolute;
  right: 32px;
  top: 16px;
  bottom: 16px;
  width: 300px;
}

.search-wrapper {
  margin: auto;
  background-color: #212121;
}

.input-field i {
  height: 24px;
  width: 24px;
  line-height: normal;
}

.input-field input[type=search] {
  width: 100px;
  float: right;
  transition: all 0.5s ease;
  background-color: white;
  padding: 0 40px;
  border-radius: 8px;
}

/* label underline focus color */
.input-field input[type=search]:focus {
  border-bottom: 1px solid #f44336 !important;
  box-shadow: 0 1px 0 0 #f44336 !important;
  width: 200px;
}
</style>
