<template>
  <div>
    <Navbar option="Próximos Estrenos"/>
    <div class="row">
      <div class="col l9 offset-l3">
        <div class="row">
          <CardMovie v-for="show in shows"
            v-bind:key="show.id"
            v-bind:image="show.image.original"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

import Navbar from './Navbar'
import CardMovie from './CardMovie'

export default {
  name: 'Premieres',
  data () {
    return {
      shows: []
    }
  },
  components: {
    Navbar,
    CardMovie
  },
  created: function () {
    axios.get('http://api.tvmaze.com/shows?page=2')
      .then(res => {
        this.shows = res.data
      })
      .catch(err => {
        console.log(err)
      })
  }
}
</script>
