<template>
  <div class="row">
    <div class="col l9 offset-l3">
      <div class="row container center-align">
        <h2>{{this.$route.params.name}}</h2>
        <button v-on:click="handlePurchase">Comprar</button>
      </div>
      <div class="row container">
        <button v-for="seat in seatting"
          v-bind:key="seat.id"
          v-bind:class="[
            { 'active-red': seat.status === 'comprado'},
            {'active-grey': (seat.status === 'comprado' && (seat.isToken) )},
            {'active-blue': (seat.status === 'reservar')},
            {'active-black': (seat.status === 'reservar') && (seat.isToken)}]"
          v-bind:disabled="(seat.status === 'comprado' || seat.status === 'reservado')"
          v-on:click="handleReserve(seat.idSeat)"
          class="button-seat">
          {{ seat.idSeat }}
        </button>
        <div class="row label-container">
          <div class="status">
            <div class="red"></div>
            <span class="label">Ocupado</span>
          </div>
          <div class="status">
            <div class="grey"></div>
            <span class="label">Mis Asientos</span>
          </div>
          <div class="status">
            <div class="blue"></div>
            <span class="label">Procesando</span>
          </div>
          <div class="status">
            <div class="green"></div>
            <span class="label">Disponible</span>
          </div>
          <div class="status">
            <div class="black"></div>
            <span class="label">Mi reserva</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Push from 'push.js'

export default {
  name: 'Room',
  data () {
    return {
      seatting: [],
      idSeat: 0
    }
  },
  created: function () {
    for (let i = 0; i < 100; i++) {
      this.seatting.push(JSON.parse(JSON.stringify({
        'idSeat': i + 1,
        'status': '',
        'authToken': '',
        'idMovie': this.$route.params.id,
        'isToken': false
      })))
    }

    axios.get('http://localhost/FMATPolis/public/api/reservations')
      .then(res => {
        let seattingData = res.data.data

        seattingData.map(seat => {
          this.seatting.map(s => {
            if (seat.idSeat === s.idSeat) {
              s.status = seat.status
              s.authToken = seat.authToken

              if (s.authToken === this.$store.getters.getUser.uid) {
                s.isToken = true
              }
            }
          })
        })
      })
      .catch(err => {
        console.log(err.message)
      })
  },
  updated: function () {
    axios.get('http://localhost/FMATPolis/public/api/reservations')
      .then(res => {
        let seattingData = res.data.data

        seattingData.map(seat => {
          this.seatting.map(s => {
            if (seat.idSeat === s.idSeat) {
              s.status = seat.status
              s.authToken = seat.authToken
            }
          })
        })
      })
      .catch(err => {
        console.log(err.message)
      })
  },
  mounted: function () {
    console.log(this.$store.getters.getUser.uid)
  },
  methods: {
    handleReserve: function (idSeat) {
      this.idSeat = idSeat
      console.log(idSeat)
      axios.post('http://localhost/FMATPolis/public/api/reservation', {
        idSeat: idSeat,
        idMovie: this.$route.params.id,
        status: 'reservar',
        authToken: this.$store.getters.getUser.uid
      })
        .then(res => {
          if (res.data.status === 'reservado') {
            Push.create('Reserva realizada con éxito!')
          }
        })
        .catch(err => {
          console.log(err)
        })
    },
    handlePurchase: function () {
      axios.post('http://localhost/FMATPolis/public/api/reservation', {
        idSeat: this.idSeat,
        idMovie: this.$route.params.id,
        status: 'comprado',
        authToken: this.$store.getters.getUser.uid
      })
        .then(res => {
          if (res.data.status === 'comprado') {
            Push.create('Compra realizada con éxito!')
            this.$router.push({ path: 'billboard' })
          }
        })
        .catch(err => {
          console.log(err.message)
        })
    }
  }
}
</script>

<style scoped>
.button-seat {
  margin: 3% 3% 0 0;
  border: none;
  width: 7%;
  background-color: #4caf50;
}

.label-container {
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.status {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.red, .grey, .blue, .green, .black {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.label {
  margin-right: 16px;
}

.active-red {
  background-color: #f44336;
}

.active-grey {
  background-color: #9e9e9e;
}

.active-blue {
  background-color: #2196f3;
}

.active-black {
  background-color: black;
  color: gray;
}
</style>
