<template>
  <ul id="nav-mobile" class="side-nav fixed red">
    <li class="logo center-align">
      <a href="/" class="brand-logo">
        <img src="../assets/logo.png" alt="logo-cinemath">
      </a>
    </li>
    <li class="search hide-on-large-only">
      <div class="search-wrapper card">
        <input id="search" type="search" placeholder="Buscar película">
        <i class="material-icons">search</i>
      </div>
    </li>
    <li class="option center-align">
      <router-link to="/billboard" class="waves-effect"><a>Cartelera</a></router-link>
    </li>
    <li class="option center-align">
      <router-link to="/premieres" class="waves-effect"><a>Próximos Estrenos</a></router-link>
    </li>
    <li class="option center-align">
      <router-link to="/presales" class="waves-effect"><a>Preventas</a></router-link>
    </li>
    <li class="option center-align">
      <router-link to="/promotions" class="waves-effect"><a>Promociones</a></router-link>
    </li>
    <li v-if="this.$store.getters.getUser" class="user-session valign-wrapper">
      <img width='50'
        class='avatar circle responsive-img'
        v-bind:src="this.$store.getters.getUser.photoURL"
        alt="photo-profile"/>
      <button class='btn-logout waves-effect waves-light btn red darken-1'
        v-on:click="handleLogout">
        Logout
      </button>
    </li>
    <li v-else class="login-button left-align">
      <button class='btn-login waves-effect waves-light btn red darken-1'
        v-on:click="handleAuth">
        Login
      </button>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Sidenav',
  methods: {
    handleAuth: function () {
      this.$store.dispatch('signIn')
    },
    handleLogout: function () {
      this.$store.dispatch('signOut')
    }
  },
  mounted () {
    console.log(this.$store.getters.getUser)
  }
}
</script>

<style scoped>
.login-button, .user-session {
  position: absolute;
  bottom: 80px;
  left: 16px;
}

.btn-logout {
  margin-left: 16px;
}

ul.side-nav-l {
  transform: translateX(0);
}

a.brand-logo {
  height: 100%;
}

li.logo {
  margin-top: 32px;
  margin-bottom: 32px;
}

li.option a{
  color: #ffc107;
  font-size: 16px;
}

/* Form search*/
li.search {
  height: 47px;
  width: 300px;
  margin-bottom: 32px;
}

.search-wrapper {
  height: 46px;
  margin: 0 12px;
  border-radius: 8px;
  transition: margin 0.25s ease;
}

.search-wrapper i {
  position: absolute;
  left: 8px;
  top: 12px;
}

.search-wrapper input[type=search] {
  border: none !important;
  box-shadow: none !important;
  padding: 0 15px 0 45px;
  width: 216px;
}

.focused {
  margin: 0;
}
</style>
